$primary-fontfamily: Arial, Helvetica, sans-serif;
$primary-white: #fff;
$primary-grey: #353535;
$primary-green: #394f49;
$primary-blue: #1f2c37;
$primary-orange: #f28c83;

@mixin transition($value) {
  transition: all $value ease-out;
  -webkit-transition: all $value ease-out;
  -moz-transition: all $value ease-out;
}

%parallax {
  height: 100vh;
  background: url('/media/images/bg-portfolio.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
%primary-colors {
  background-color: $primary-green;
  color: $primary-white;
}
%secondary-colors {
  background-color: $primary-blue;
  color: $primary-white;
}
%nav-colors {
  background-color: $primary-grey;
  color: lighten($primary-grey, 22%);
}
