@import 'config';

:root {
  font-size: 62.5%;
}
body {
  font-family: $primary-fontfamily;
  line-height: 1.6;
  @extend %primary-colors;
}
.container {
  width: 65vw;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  overflow: auto;
}

.main-nav {
  height: 10vh;
  box-shadow: 0 0 0px transparent;
  background: transparent;
  @include transition(0.3s);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .logo__img {
    max-width: 60px;
  }
  .logo__title {
    padding: 0.5rem 1.5rem;
    font-size: 2.4rem;
    font-weight: 700;
    text-shadow: 0px 0px 3px #000;
    text-transform: uppercase;
  }
  &__menu {
    display: flex;
    list-style-type: none;
  }
  &__menu-item {
    padding: 15px;
  }
  &__menu-item-link {
    color: $primary-white;
    font-size: 1.6rem;
    text-decoration: none;
    @include transition(0.3s);

    &:hover,
    &:active,
    &:focus {
      color: $primary-orange;
    }
  }
}

.main-header {
  @extend %parallax;
}
